/*-- scss:defaults --*/

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


// Colors

$link-color: #1A5988;

a:hover {color: #FF0078; text-decoration: none;}

.blockquote {color: #4A305B !important;}